.numbers-sec .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
}

.numbers-sec .wrapper .number-card .symbol {
    font-family: 'Press Start 2P';
    font-size: 15rem;
    justify-content: flex-end;
    display: flex;
    margin-bottom: 2rem;
}

.numbers-sec .wrapper .number-card .number {
    font-family: 'Press Start 2P';
    font-size: 10rem;
    justify-content: center;
    display: flex;
    margin-bottom: 2rem;
}

.numbers-sec .wrapper .number-card .title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3rem;
    font-family: 'Kode Mono';
    font-weight: 700;
}

.numbers-sec .wrapper .number-card p {
    padding: 0 3rem;
    text-transform: uppercase;
}

.numbers-sec .wrapper .number-card {
    padding-bottom: 5rem;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.numbers-sec .wrapper .number-card.card-1 {
    border: 0.063rem solid var(--blue);
    border-radius: 1rem;
}

.numbers-sec .wrapper .number-card.card-2 {
    border: 0.063rem solid var(--pink);
    border-radius: 1rem;
}

.numbers-sec .wrapper .number-card.card-3 {
    border: 0.063rem solid var(--green);
    border-radius: 1rem;
}

.numbers-sec .wrapper .number-card::before {
    filter: blur(150px);
    pointer-events: none;
    position: absolute;
    content: '';
    inset: 20% 30% 0%;
    z-index: -1;
}

.numbers-sec .wrapper .number-card.card-1 .symbol,
.numbers-sec .wrapper .number-card.card-1 .number,
.numbers-sec .wrapper .number-card.card-1 .title {
    color: var(--blue);
}

.numbers-sec .wrapper .number-card.card-2 .symbol,
.numbers-sec .wrapper .number-card.card-2 .number,
.numbers-sec .wrapper .number-card.card-2 .title {
    color: var(--pink);
}

.numbers-sec .wrapper .number-card.card-3 .symbol,
.numbers-sec .wrapper .number-card.card-3 .number,
.numbers-sec .wrapper .number-card.card-3 .title {
    color: var(--green);
}

.numbers-sec .wrapper .number-card.card-1::before {
    background: var(--blue);
}

.numbers-sec .wrapper .number-card.card-2::before {
    background: var(--pink);
}

.numbers-sec .wrapper .number-card.card-3::before {
    background: var(--green);
}