.portfolio-sec {
    background: black;
}

.portfolio-sec .tag {
    justify-content: flex-start;
}

.portfolio-sec h2 {
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 65%;
}

.project .wrapper {
    cursor: pointer;
    padding: 1.25rem 1.375rem;
    padding-bottom: 1.875rem;
    border-radius: 1.125rem;
    margin-bottom: -1.875rem;
    border: 0.094rem solid var(--border-color);
    background: black;
}

.project-top .left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    z-index: 1;
}

.project-top .left p {
    text-transform: uppercase;
}

.project-top .right .tech-wrapper {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.project-top .right .tech-wrapper .tech-used {
    padding: 0.625rem 1.375rem;
    background: var(--blue);
    border-radius: 6.25rem;
    font-size: 1.1875rem;
    line-height: 1.4;
}

.project-top .right .tech-wrapper .tech-used:last-child {
    background: transparent;
    padding: 0;
}

.project-top .top-wrapper {
    display: flex;
    justify-content: space-between;
}

.project-bottom .project-content>img {
    width: 100%;
    border-radius: 1.125rem;
}

.project-bottom .project-description {
    margin: 1.875rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-bottom .project-description>p {
    color: var(--grey);
    width: 60%;
}

.project-bottom .project-description .link a {
    display: flex;
    padding: 0.625rem 1.375rem;
    border-radius: 6.25rem;
    border: 0.094rem solid var(--pink);
    gap: 1rem;
}

.project-description .link {
    width: fit-content;
}

.project-bottom .project-description .link a p {
    font-size: 1.1875rem;
    line-height: 1.4;
}

.project:last-child .project-top {
    padding-bottom: 0;
}

.project-bottom {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease-out;
}

.project.active .project-bottom {
    max-height: 62.5rem;
}

.project-bottom {
    padding-top: 1.25rem;
}

.project:last-child .project-bottom {
    padding-top: 0;
}

.project:last-child .project-bottom .project-description {
    margin-bottom: 0;
}

.project-top .left:before {
    content: '';
    background-color: var(--gradient-blue);
    opacity: 0;
    filter: blur(1.25rem);
    border-radius: 50%;
    transition: all 0.4s ease-out;
    position: absolute;
    inset: 0% -20% 0% -15%;
    width: 11.813rem;
    height: 3.125rem;
    z-index: -1;
}

.project .wrapper:hover .project-top .left::before {
    opacity: 1;
}

.project:last-child .wrapper {
    margin-bottom: 0;
}

.btn-wrapper button {
    padding: 1rem 2rem;
    display: block;
    width: fit-content;
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: var(--para-size);
    border: 0.094rem solid var(--border-color);
    border-radius: 3.125rem;
    position: relative;
    z-index: 1;
    background: transparent;
    font-family: 'Roboto Mono';
    color: white;
    cursor: pointer;
}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
}

.btn-wrapper button:before {
    content: '';
    background-image: radial-gradient(circle, #2a1fffb3, #5b185980);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3.125rem;
    opacity: 0;
    transition: all 0.4s ease-out;
    z-index: -1;
}

.btn-wrapper button:hover:before {
    opacity: 1;
}

.portfolio-popup .project-bottom {
    opacity: 1;
    max-height: 62.5rem;
    overflow: visible;
    padding-top: 0;
}

.portfolio-popup .project .wrapper {
    border: none;
    margin: 0;
    cursor: auto;
    border-radius: 0;
}

.portfolio-popup .project-top .left:before {
    display: none;
}

.portfolio-popup .project-bottom .project-description {
    margin-bottom: 0;
    position: relative;
}

.portfolio-popup .project-bottom .project-description::before {
    content: '';
    position: absolute;
    bottom: -1.25rem;
    height: 0.094rem;
    width: 100%;
    background: var(--border-color);
}

.portfolio-popup .project:last-child .project-bottom .project-description::before {
    display: none;
}

.portfolio-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 999;
    height: 100%;
    display: flex;
    align-items: center;
    background: #000000d4;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.portfolio-popup.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.portfolio-popup>.wrapper {
    margin: 0 4rem;
    border: 0.094rem solid var(--border-color);
    border-radius: 1.25rem;
    overflow-y: scroll;
    height: calc(100vh - 15rem);
    background: black;
    padding-right: 1rem;
}

.portfolio-popup .btn-wrapper button {
    margin-top: 1rem;
}

.project:last-child .project-bottom .project-content>img {
    padding-top: 1.25rem;
}