.cards-wrapper {
    margin-top: 4rem;
    display: grid;
    flex-direction: column;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    perspective: 2000px;
}

.cards-wrapper .services-card {
    border: 0.094rem solid var(--border-color);
    border-radius: 1.125rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.services-card .wrapper {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.services-card .wrapper h3 {
    margin: 0 auto;
    position: relative;
    font-size: 2rem;
    line-height: 3rem;
    color: white;
    margin-bottom: 2rem;
    width: 80%;
}

.services-card .wrapper p {
    width: 90%;
    margin: 0 auto;
    transition: all 0.4s ease-out;
}

.cards-wrapper .services-card h3::before {
    content: '';
    background-image: radial-gradient(circle farthest-corner at 50% 50%, var(--purple), #f02d9f59);
    opacity: 0;
    filter: blur(1.875rem);
    border-radius: 50%;
    position: absolute;
    width: 120%;
    height: 6.938rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.4s ease-out;
}

.cards-wrapper .services-card:hover h3::before {
    opacity: 1;
}

.services-card .bg-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.4s ease-out;
}

.services-card.active {
    transform: translateY(-0.313rem);
}


.bg-image img {
    height: 100%;
}