@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


/* Font Scalability and Styling Setup  */
:root {
  --black: #000000;
  --white: #ffffff;
  --grey: #999999;
  --blue: #2a1fff;
  --pink: #f02d9f;
  --green: #1fff6b;
  --purple: #9028c1;
  --navy-blue: #0c2d5e;
  --maroon: #700000;
  --dark-grey: #525d6f;
  --dark-blue: #191399;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.8333333333vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@media (max-width:991px) {
  html {
    font-size: 1.3333334vw;
  }
}

@media (max-width:600px) {
  html {
    font-size: 4.102564103vw;
  }
}

body {
  overflow-x: hidden;
  font-family: "Roboto Mono", serif;
  background-color: var(--black);
  color: var(--white);
}